body {
    background: url(../media/survey-form-background.jpeg) #2f6fad96;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    color: white;
    font-family: Poppins;
    width: 48%;
    margin: auto;
    font-size: 1.1rem;
}

#survey-form {
    background: #1b1b32;
    padding: 40px 30px 10px 30px;
    line-height: 30px;
}

header {
    padding: 50px 0px 30px 0px;
    text-align: center;
}

div {
    margin-bottom: 20px;
}

.title {}

.form-control {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: .2rem .5rem;
}

textarea.form-control {
    height: unset;
}

.form-control:focus {
    outline: none;
    border: 1px solid blue;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1rem;
}

#submit {
    background-color: #37AF65;
    height: 50px;
    color: white;
    font-size: 1.1rem;
}